# Lecture 2

## Exercise 2.1

Write code in a Jupyter notebook that performs the following steps:
Create a variable x, assign to it the value of 5 Check if x is an odd number (hint: use the modulo operator discussed in Session 1)
> If it is odd, print "x is odd"

> If it is even, print "x is even"

Change x to be 6, re-run the cell What happens if x is a string (e.g., "abc")? How would you handle this possibility?

In [94]:
x = 5
print('(Exercise 2.1) x is odd') if x % 2 == 1 else print('(Exercise 2.1) x is even')
    
x = 6
print('(Exercise 2.1) x is odd') if x % 2 == 1 else print('(Exercise 2.1) x is even')
    
x = 'abc'
print('(Exercise 2.1) x is string') if type(x) == str else print('(Exercise 2.1) x is odd') if x % 2 == 1 else print('(Exercise 2.1) x is even')

(Exercise 2.1) x is odd
(Exercise 2.1) x is even
(Exercise 2.1) x is string

## Exercise 2.2

Suppose the user can input values to two string variables, "animal" and "colour", e.g.:
> animal = "cat"

> colour = "black"

Write code that checks the input values and prints one of the following:
>"It is a white dog"

>"It is a black cat"

>"It is neither a white dog, nor a black cat"

In [95]:
animal = "cat"
colour = "black"
print('(Exercise 2.2) It is a black cat') if animal == 'cat' and colour == 'black' else print('(Exercise 2.2) It is a white dog') if animal == 'dog' and colour == 'white' else print('(Exercise 2.2) It is neither a white dog, nor a black cat')

(Exercise 2.2) It is a black cat

## Exercise 2.3

There are two lists with names of colours, e.g.:
> colours1 = ["white", "black", "red"]

>colours2 = ["red", "green"]

Write code to print out the colours from colours1 which are not present in colours2. For example, given the two lists in the example above, the output should be "white" and "black".
Hint: you may need to review the material from Session 2.

In [96]:
colours1 = ["white", "black", "red"]
colours2 = ["red", "green"]

not_in_colours2 = []

for colour in colours1:
    if colour not in colours2:
        not_in_colours2.append(colour)
        
print(f'(Exercise 2.3) {not_in_colours2}')

(Exercise 2.3) ['white', 'black']

## Exercise 2.4

Write a program to remove duplicates from a list. For example, given input:
>a = [1, 4, 2, 3, 4, 2]

the output should be:
>[1, 2, 3, 4]

In [97]:
a = [1, 4, 2, 3, 4, 2]
print(f'(Exercise 2.4) {sorted(list(set(a)))}')

(Exercise 2.4) [1, 2, 3, 4]

## Exercise 2.5

Write code that completes the following:
>1. Create a dictionary to represent a phonebook with the following entries:

>>Doe: 239243

>>Smith: 238090

>>Brown: 238412

>2. Add a record for "Roe", tel number 231109

>3. Remove the record for "Doe"

>4. Retrieve the phone number for "Smith"

In [98]:
phonebook = {'Doe': 239243,'Smith': 238090,'Brown': 238412}
print(f'(Exercise 2.5) {phonebook}')
add_phonebook = {'Roe': 231109}
phonebook.update(add_phonebook)
print(f'(Exercise 2.5) {phonebook}')
phonebook.pop('Doe')
print(f'(Exercise 2.5) {phonebook}')
# phonebook.pop('Smith')
print(f'(Exercise 2.5) Smith: {phonebook["Smith"]}')

(Exercise 2.5) {'Doe': 239243, 'Smith': 238090, 'Brown': 238412}
(Exercise 2.5) {'Doe': 239243, 'Smith': 238090, 'Brown': 238412, 'Roe': 231109}
(Exercise 2.5) {'Smith': 238090, 'Brown': 238412, 'Roe': 231109}
(Exercise 2.5) Smith: 238090

## Exercise 2.6

Two people hold their savings in different currencies. Write a program that finds out how much the two people own jointly, in each currency. Use dictionaries to store the input data and the calculated result.
For example, given this input:
>person1 = {"GBP": 200, "USD": 300, "EUR": 300}
>person2 = {"GBP": 100, "USD": 200, "CNY": 400}

your program should produce the output:
>joint = {"GBP": 300, "USD": 500, "EUR": 300, "CNY": 400}

In [99]:
person1 = {"GBP": 200, "USD": 300, "EUR": 300}
person2 = {"GBP": 100, "USD": 200, "CNY": 400}

joint = {}

for i,j in person1.items():
    joint[i] = j

for i,j in person2.items():
    if i in joint:
        existing_value = joint[i]
        joint[i] = existing_value + j    
    else:
        joint[i] = j
print(f'(Exercise 2.6) {joint}')

(Exercise 2.6) {'GBP': 300, 'USD': 500, 'EUR': 300, 'CNY': 400}

## Exercise 2.7

Write a list comprehension that takes a list of strings and converts each string to all-upper case string: [“sun”, “mon”, “tue”] to [“SUN”, “MON”, “TUE”]

In [100]:
words = ['sun', 'mon', 'tue']
words_upper = []
for word in words:
    words_upping = word.upper()
    words_upper.append(words_upping)
print(f'(Exercise 2.7) {words_upper}')

(Exercise 2.7) ['SUN', 'MON', 'TUE']

## Exercise 2.8

Write a list comprehension that takes a list of numbers and converts each number to a string.

In [101]:
numbers = [1,2,3,4]
numbers_stringed = []
for number in numbers:
    numbers_stringing = str(number)
    numbers_stringed.append(numbers_stringing)
print(f'(Exercise 2.8) {numbers_stringed}')

(Exercise 2.8) ['1', '2', '3', '4']

## Exercise 2.9

Write the code that:
>1. Reads the contents of " aston.txt " (please download the attachment)

>2. Replaces all punctuation symbols with a white space in the text.

>3. Finds all unique words in the text, that is, a list of all words that appeared at least once in the text. For example, in "This is a cat and this is a dog", the unique words are: "this", "is", "a", "cat", "and", "dog". For the purposes of this assignment, consider a word to be any sequence of characters between two whitespaces.

>4. Prints the unique words to a file called "unique_words.txt", sorted alphabetically

In [102]:
with open("Aston.txt", "r") as file:
    text = file.read()
text = text.replace("'",' ')
set_text = set(text.split(' '))

with open("unique_words.txt", "w") as output_file:
    sorted_unique_words = sorted(set_text)
    for word in sorted_unique_words:
        output_file.write(word + "\n")
print('(Exercise 2.9) Done!')

(Exercise 2.9) Done!

## Exercise 2.10

Describe potential sources of runtime errors in this code snippet:
> user provides the input

In [103]:
a = 2
c = 3
d = 4

# calculations
try:
    x = float(a)
    y = x / d[c]
    print(f"(Exercise 2.10) The result is {y}")
except:
    print(f"(Exercise 2.10) Why would you put '[]' in the code?? try to just multiply (*) them instead")

(Exercise 2.10) Why would you put '[]' in the code?? try to just multiply (*) them instead

## Exercise 2.11

Add a try-except statement(s) to handle possible errors. Print an error message if this happens. user provides the input.

In [104]:
try:
    d = 2
    name = 'Bill'
    x = d[name]
    print(f'(Exercise 2.11) {x}')
except TypeError as exc:
    print(f"(Exercise 2.11) Check your input, 'name' should be a number")
except IndexError as exc:
    print(f"(Exercise 2.11) Check your input, the index should be smaller than the size of the list!")

(Exercise 2.11) Check your input, 'name' should be a number

## Exercise 2.12

In Jupyter, write code that divides one integer by another integer and prints the result. Ensure that the code runs to completion by printing "Done" at the end. Allow for these possibilities:
> that the second integer may be 0.

> that the second integer may be a string.

> that some unforeseen error occurs.